@CHARSET "UTF-8";
body{
	margin:0px;
	background-color:#f1f2ef;
	font-size:12px;
}

#wraper{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	width:100%;
	max-width:1060px;
	vertical-align:top;
}
header{
	width:100%;
	height:36px;
	background:#56befe;
	text-align:center;
}
.schimg{
	float:left;
	width:26px;
	margin-top:7px;
	margin-left:6px;
}
.schinp{
	float:left;
	width:176px;
	margin-top:9px;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:#368abf solid 1px;
	color:#66849b;
	background-color:#56befe;
	font-size:16px;
	outline:none;
}
.schbar{
	margin-left:auto;
	margin-right:auto;
	width:220px;
}
input:focus
{
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:#368abf solid 1px;
	color:#66849b;
}
a:link {
	color: #67a10a;
	text-decoration: none;
}
a:visited {
	color: #67a10a;
	text-decoration: none;
}
a:hover {
	color: #f6b02a;
	text-decoration: none;
}
.line{
	width:100%;
	height:1px;
	background-color:#cccccc;
	clear:both;
}
.seperate{
	width:100%;
	height:5px;
	clear:both;
}
#goodslist{
	width:100%;
	height:auto;
	font-size:15px;
	color:#5f5a55;
	clear:both;
}
.inpnum{
	width:96%;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:#368abf solid 1px;
	background-color:#ffffff;
	outline:none;
}
.sele{
	height:26px;
	width:96%;
	border:#368abf solid 1px;
	background-color:#f5f2ef;
	outline:none;
}
@media screen and (max-width:3000px) {
.col{
	float:left;
	width:33%;
	min-width:300px;
	padding-top:3px;
}
}
@media screen and (max-width:900px) {
.col{
	float:left;	
	width:49%;
	min-width:300px;
	padding-top:3px;
}
}
@media screen and (max-width:600px) {
.col{
	float:left;
	width:100%;
	min-width:300px;
	padding-top:3px;
}
}