/*评价医生 css*/
/*header*/
*{box-sizing: border-box;}
.rt{float: right;}
body{
	font-family: 'PingFang SC';background-color:#f3f3f3;
	padding-top: 4rem; overflow: hidden;
}
body form>div.normal{
	width:100%; padding:1rem;
	background-color: #fff;
	margin-bottom:1rem;
	line-height: 1.5rem;
	font-size: 1.2rem;
}
body form>div.normal>span{
	height: 1.8rem;
	line-height: 1.8rem;
}
body form>div.normal>span input{
	font-size: 1.1rem; height: 1.8rem;
	line-height: 1.8rem; color: #333;
	width: 8rem; vertical-align: top;
	border-bottom: 1px solid #aaa;
	padding: 0 .9rem;
}
header{
	height:4rem; background-color: #00d2be;
	position: fixed; width: 100%;
	color:#fff; top: 0; left: 0;
	padding: 0 1.5rem; z-index: 10;
}
header h1{
	height:100%; line-height: 4rem;
	font-size: 1.5rem; text-align: center;
}
header a{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAiCAYAAABfqvm9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABbUlEQVRIx63WPSzDQRjH8d8fUS+JRBAMTJ3EZOvUWJjYmBiZsFoZiTB42dh0K5NJu7AQ0q0Rls4SgxBCgq+lkn+qd/pcPeNd7pPncnfPc1IdASSBLFAENoFEUx3YsKScpN7y0JCk11BsBHjgd1w3BGApSXlJXVWm76xYGniiepSAfgs2Brw4sFtg0IJNAG8OrGjNbAp4d2AFoMeCzQAfDuwS6LRgc8CnAzsHOizYIvDlwHJAuwVbxh0nQKsFW/FgR0CzBVvzYBmgtncPRMC2BzsAGi2ZLXiwPSCqGSuDVw5sw4xJapDkWoQV+8lwybPl3ZAtR8COB903HUoMXveghzVfmwp01YNmTRc7hv719FpCD8pVHE6BthB0Hnf5OsNSvmLoLO4Ce4GlwMbQafwtoDsEncTfpPpC0HH8bXQgBE0Dzw60hKWdxtAU8OhAM2awjP7fZ0mSoigqSBqVdF8xlQ/KMJZpEjgGboAtIPEN9XnaHOiDmzYAAAAASUVORK5CYII=) no-repeat left center;
	width: 1rem;
	height: 100%;
	background-size: 1rem 1.7rem;
	float: left;
}
.f18{font-size: .9rem;}

.time{display: flex;height:4.2rem;}
.time span{
	width:7rem;
}
.time .hideInput{
	display: none;
}
.time>div{width:22rem;}
.time>div p.p_top{
	width:100%; height:1.4rem;
	border: 2px solid;
	border-image: -webkit-linear-gradient(#176BA5, #851B8F, #E064BF, #26ABAD, #53DAC4, #CA4B73) 1 2;
	border-radius:5px;
}
p.p_top span{
	border-right: 1px solid #ccc;
}
p.p_btm{width:100%; height:1.2rem;}
.time p span{
	float: left; width:20%; height:100%;
	font-size:.8rem; text-align: center;
}


.module1 li{
	display: flex; flex-wrap: wrap;
	padding: .4rem 0;
}
p.text{
	flex-grow: 1; text-align: right;
	font-size: 1.2rem; color:#3a3a3a;
	margin-right: 3rem;
}
p.text b{
	font-weight: normal; font-size: 1rem; color:#888;
}
p.stars{margin-left: 1rem; flex-grow: 1;}
p.stars span.star{
	width:10rem !important;
	text-align: right;
	-webkit-tap-highlight-color:rgba(255,0,0,0)
}
p.stars img{
	width:1.6rem; height:1.6rem;
}
.chengdu{
	flex-grow: 2; width:100%; color:#848484;
	display: block; text-indent: 2rem;
	font-size: 1.2rem; min-height: 2rem;
	line-height: 1.5rem; padding:.8rem .9rem 0;
}
.chengdu span{
	color:#FA8744; font-weight: 600;
}



.textarea_box{
	position: relative; padding: 0 .9rem;
}
.textarea_box>div{
	position: absolute; bottom: 1rem;
	left: 1.7rem; z-index: 1;
}
.textarea_box>div img, .textarea_box>div span{
	width: 6rem; height: 6rem;
}
.textarea_box>div img{
	margin-right: .4rem;
}
.textarea_box>div span{
	display: inline-block; vertical-align: middle;
	background: url(../images/addimg.png) no-repeat center center;
	background-size: 6rem;
}
.textarea_box>div span input{
	width: 100%; height: 100%; opacity: 0;
}
textarea{
	display: block; margin:0 auto; color: #333;
	width:100%; height:18rem; padding:.5rem;
	font-size: 1rem; line-height: 1.2rem;
}
input.subBtn, a.subBtn{
	width:22rem; height:3.5rem; line-height: 3.5rem;
	color:#fff; font-size: 1.5rem;
	background-color: #47B0ED;
	display: block; margin:2rem auto;
	border-radius:.3rem; text-align: center;
}
.check_box{
	width: 100%; padding:.8rem 0 .8rem .9rem;
	font-size: 1.1rem; color: #848484;
}
.check_box input{margin-right: .3rem;}

.font_gary{
	text-align: center; font-size: 1.4rem;
	height: 3.4rem; line-height: 3.4rem;
}
.ui-checkbox,.ui-checkbox-s{display:inline-block}
.ui-checkbox input,.ui-checkbox-s input{display:inline-block;width:25px;height:1px;position:relative;overflow:visible;border:0;background:0 0;-webkit-appearance:none;outline:0;margin-right:8px;vertical-align:middle}
.ui-checkbox input:before,.ui-checkbox-s input:before{font-family:iconfont!important;font-size:32px;line-height:44px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;display:block;color:rgba(0,0,0,.5);content:"";color:#18b4ed;position:absolute;top:-22px;left:-4px;color:#dedfe0}
.ui-checkbox input:checked:before,.ui-checkbox-s input:checked:before{content:"";color:#18b4ed}
.ui-checkbox-s input:before{content:""}
.ui-checkbox-s input:checked:before{content:""}



@media screen  and (min-width: 0px){
	html{
		font-size: 12px;
	}
}
@media screen  and (min-width: 410px){
	html{
		font-size: 14px;
	}
}
@media screen  and (min-width: 491px){
	html{
		font-size: 16px;
	}
}
@media screen  and (min-width: 532px){
	html{
		font-size: 18px;
	}
}
@media screen  and (min-width: 587px){
	html{
		font-size: 20px;
	}
}