@charset "utf-8";
		/*  css重置  */
html{ 
	font-size:20px; /* 20px 默认字体*/
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
a{
	text-decoration:none;
	color:#333;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
ul,ol{
	list-style: none;
}
.clear{
	content:"";
    display:table;
    clear:both;
}
*{
	box-sizing: border-box;
	margin:0; 
	padding:0;
}
body{
	font-family:"SimSun",Helvetica,  sans-serif;
	color:#333;
	max-width: 750px;
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}
img{
  border: 0 none;
  vertical-align: middle;     
}
.e_text{	/* 文字超出几行显示省略号 */
	overflow: hidden;
 	display: -webkit-box;
 	text-overflow:ellipsis;
	/*-webkit-line-clamp: ？;*/
	-webkit-box-orient: vertical;
	word-break: break-all;
}


/******  媒体监听  ******/
@media screen  and (min-width: 320px){
	html{
		font-size:10px;
	}
}
@media screen  and (min-width: 375px){
	html{
		font-size:12px;
	}
}
@media screen  and (min-width: 414px){
	html{
		font-size:14px;
	}
}
@media screen  and (min-width: 510px){
	html{
		font-size: 16px;
	}
}
@media screen  and (min-width: 630px){
	html{
		font-size: 18px;
	}
}
@media screen  and (min-width: 720px){
	html{
		font-size: 20px;
	}
}

/******  通用样式  ******/

		/*  header  */
header{
	width:100%;
	background: #0ACDBA; height:4.5rem;
	position: fixed; top:0; left:0;
	z-index: 100;
	max-width: 750px;
}
.head{ 
	width:100%; max-width: 720px; 
	margin:0 auto; position: relative;
}
.head>h1{
	height:100%; line-height: 4.5rem;
	font-size: 2.1rem; text-align: center;
	color:#fff;
}

		/*  footer  */
footer{
	height:4.5rem;
	width:100%;
	border-top:1px solid #ddd;
	display: flex;
	background-color: #f4f8ff;
	position: fixed;
	bottom:0; left:0;
	max-width: 750px;
	margin:0 auto;
}
footer>a{
	flex:1;
	color:#999;
	text-align: center;
	padding-top: 2.4rem;
	background-repeat:no-repeat; 
	background-position:center .4rem;
	background-size: 2rem;
}
footer>a.active{
	color:#03D2BE;
}
footer>a:nth-child(1){
	background-image:url(../images/shouye.png);
}
footer>a:nth-child(1).active{
	background-image:url(../images/shouye1.png);
}
footer>a:nth-child(2){
	background-image:url(../images/zixun.png);
}
footer>a:nth-child(2).active{
	background-image:url(../images/zixun1.png);
}
footer>a:nth-child(3){
	background-image:url(../images/zhibo.png);
}
footer>a:nth-child(3).active{
	background-image:url(../images/zhibo1.png);
}
footer>a:nth-child(4){
	background-image:url(../images/mine.png);
}
footer>a:nth-child(4).active{
	background-image:url(../images/mine1.png);
}
footer>a p{
	height:1.1rem;
	line-height: 1.1rem;
	font-size: 1.1rem;
	margin:.4rem 0;
}

		/*  其他  */
.ht20{
	height:1rem; background-color: #f9f9f9;
}
